<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
  <title>Chicago Movie in The Park</title>
  <link rel="icon" 
      type="image/png" 
      href="img/icon.png">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7MinVe2U_cNHvcun30I1EDEIUme14pv4&callback=initMap" async defer></script> 

   <!-- load angular -->
	<style>
		.content {
			display: none;
			margin: 1em;
		}
    .img {
      image-orientation: from-image;
      float : left;
    }
    #map {
        height: 100%;
      }

	</style>

</head>

<body>
	<!-- navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href=#home><img src="img/icon.png" style="width: 50px; height: 50px;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#search" style="font-family:'Courier New', Courier, monospace; "><strong>Search </strong><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#history" style="font-family: 'Courier New', Courier, monospace;"><strong>History List</strong></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#map" style="font-family: 'Courier New', Courier, monospace;"><strong >Map </strong></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" style="font-family: 'Courier New', Courier, monospace;"><strong>About</strong></a>
      </li>
    </ul>
  </div>
  </nav>
  <!-- the content divs -->
  <div class="content" id="home" style="font-family: 'Courier New', Courier, monospace;">
      <h2 style="color: steelblue;"><strong>
        Welcome to my App!
      </strong></h2>
  </div>

  <div class="content" id="search" style="font-family: 'Courier New', Courier, monospace;">
    <div class="container" style="font-family: 'Courier New', Courier, monospace;">
      
      <h1 style="color: steelblue;"><strong>
        Movies in the Park 2019
      </strong></h1>
      
      <form id = "input" method = "get" id = "form1">
        <p> <input type="text" ng-model="query" class="form-control" id = "park" placeholder = "Enter Park Name: "></p>
        <p> <input type="text" ng-model="query" class="form-control" id = "title" placeholder = "Enter Movie Title: "></p>
        <p> <input type="text" ng-model="query" class="form-control" id = "day" placeholder="Enter the Day of The Movie: (ig. Fri, Sat, Sun) "></p>
        <p><button type="submit" value = "Go!"> </button>
        Check For Upcoming Movies: <input type = "checkbox" id="upcomingonly"></p>
      </form>
      
      <script type="text/javascript">
      park = $('#park').val();
      title = $('#title').val();
      day = $('#day').val();
      $.getJSON = ("https://data.cityofchicago.org/resource/7piw-z6r6.json", function(data) {
          console.log(data);
          var queries = '';
          $.each(data, function(key, value){
              queries += '<tr>';
              queries += '<td>'+value.park+'<td>';
              queries += '<td>'+value.title+'<td>';
              queries += '<td>'+value.day+'<td>';
            });
            $('#movietable').append(queries);
        });
       </script>

      <table class = "table" style="width:100%s" id = "movietable">

        <tr>
          <th><a href = "" ng-click = "sortBy = 'date'">Park Name</a></th>
          <th><a href = "" ng-click = "sortBy = 'title'">Title</a></th>
          <th><a href = "" ng-click = "sortBy ='day'">Day</a></th>
        </tr>

        <tr ng-repeat="movie in moviesdatabase | orderBy:sortBy | filter:query ">

          <td></td>
          <td></td>
          <td></td>

        </tr>
       </table>

     </div>
   </div>

  <div class="content" id="history" style="font-family: 'Courier New', Courier, monospace;">
      <h2 style="color: steelblue;"><strong>
        Query
      </strong></h2>
  </div>
  <div class="content" id="map" style="font-family: 'Courier New', Courier, monospace;">
      <h2 style="color: steelblue;"><strong>
        Query Map
      </strong></h2>

      <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -34.397, lng: 150.644},
              zoom: 8
            });
          }
       </script>

    </div>
  <div class="content" id="about">
      <h2 style = "font-family:'Courier New', Courier, monospace; color:steelblue"><b>Welcome! </b></h2>
    <div style = "font-family:'Courier New', Courier, monospace">
      <h4 style = "font-family:'Courier New', Courier, monospace; color:dodgerblue"> About Me:  </h4>
        <br>
        <br>
        <br>
        <img src="img/Portrait.JPG" width="300" height = 470 float = "left"><p> My name is Shen Wang and I am the developer of this web app. I am a Computer Science and Mathematics major currently enrolled at
            The University of Illinois at Chicago. I am currently in IT202 to learn about web technologies such as HTML, CSS, Angular, MySQL and 
            other fun subjects! I have a strong understanding of data structures, algorithms, computation (i.g. time ~ space complexity and language syntax)
            with many mainstream computer languages such as:</p></img>
        <br>
        <br>      ><a style=color:darkcyan><strong>Java</strong></a> - Primary Language
        <br>      ><a style=color:darkcyan><strong>C++</strong></a> - Secondy Language
        <br>      ><a style=color:darkcyan><strong>Python</strong></a> - Tertiary Language
        <!--<br><img href = "img/javaicon.png" style="width: 50px; height: 50px;"/>
        <br><img href = "img/cppicon.png" style="width: 50px; height: 50px;"/>
        <br><img href = "img/pythonicon.png" style="width: 50px; height: 50px;"/>-->
        <br>
        <br>As well as some computational and functional languages such as:
        <br>
        <br>      ><a style=color:darkcyan><strong>OCAML</strong></a> - Language Design 
        <br>      ><a style=color:darkcyan><strong>CGAL</strong></a> - Computational Geometry and Algorithms
        <br>      ><a style=color:darkcyan><strong>SAGE MATH</strong></a> - Scientific Mathematical Computer Language
        <br>      ><a style=color:darkcyan><strong>R</strong></a> - Scientific Statistical Modeling Language
        <br>

        <div><strong>
          Connect with me on my Linkedin! : <a href = "https://www.linkedin.com/in/ShenHWang">here!</a>
          <br>Check out my github! : <a href = "https://www.github.com/SaltyShen">SaltyShen@github.com</a>
          <br>Email me at : peterhuiwang1995@gmail.com
        </strong></div>
      </div>
    </div>

  
  <script>
    hideScreens();


    function hideScreens() {
      $(".content").hide();
    }


    $(document).ready(function() {



      $(".nav-link").on("click", function(){
        hideScreens();
        var target = $(this).attr("href");
        $(target).show();
        $(target).load("page_content/_" + target.replace("#","") + ".html");
      });

    });
  </script>


  </body>
</html>